@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* ===============================
   GOLD SHINE ANIMATION
================================ */

.gold-shine {
    background: linear-gradient(
            110deg,
            #b38728 0%,
            #ffd700 20%,
            #fff1a8 40%,
            #ffd700 60%,
            #b38728 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: goldShine 3.5s linear infinite;
}

@keyframes goldShine {
    to {
        background-position: 200% center;
    }
}
